//---------------------------------------------------------------------------
//
// Name:        intaktApp.rc
// Author:      Piotr Kuliński
// Created:     2008-06-23 16:07:36
// Description: 
//
//---------------------------------------------------------------------------

#include <wx/msw/wx.rc>
